<header>
    <div class="logo">Real Estate Admin</div>
    <div class="user-info">
      <span>Welcome, <%= user.name %></span>
      <a href="/auth/logout" class="btn-logout">Logout</a>
    </div>
  </header>